@use "../common/variables.scss";

.input {
  border: 1px solid #e7e7e7;
  transition: border 0.3s linear, outline 0.3s linear;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    outline: 1px solid #444444;
  }

  &--error {
    border-color: variables.$color-error;
    outline: 1px solid variables.$color-error;
  }
}
