@use "../common/variables.scss";

.message {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.4);
}

.message__inner {
  position: relative;
  width: min(60rem, 480px);
  padding: min(5rem, 75px) min(2rem, 30px);
  margin-top: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: variables.$text-primary;

  background-color: #ffffff;

  @media (min-width: variables.$tablet) {
    width: clamp(600px, 60rem, 800px);
    padding: clamp(50px, 5rem, 66px) clamp(20px, 2rem, 27px);
    margin-top: 250px;
  }

  @media (min-width: variables.$desktop) {
    margin-top: 300px;
  }
}

.message__title {
  margin: 0;
  margin-bottom: min(4rem, 60px);
  font-size: min(3.5rem, 38px);

  @media (min-width: variables.$tablet) {
    margin-bottom: clamp(40px, 4rem, 55px);
    font-size: clamp(35px, 3.5rem, 46px);
  }
}

.message__text {
  margin: 0;
  margin-bottom: min(4rem, 60px);
  font-size: min(1.4rem, 24px);
  line-height: min(1.8rem, 27px);
  text-transform: uppercase;
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet) {
    font-size: clamp(16px, 1.6rem, 20px);
    line-height: clamp(18px, 1.8rem, 22px);
  }

  @media (min-width: variables.$desktop) {
    font-size: clamp(16px, 2rem, 23px);
    line-height: clamp(16px, 2rem, 23px);
  }
}

.message__button-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0;
}

.message__button {
  padding: min(1rem, 15px) min(2rem, 30px);

  @media (min-width: variables.$tablet) {
    padding: clamp(15px, 1.5rem, 20px) clamp(40px, 4rem, 53px);
  }
}
