@use "../common/variables.scss";

.popup-message {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  padding: min(3rem);
  text-align: center;
  background-color: variables.$color-primary;
}

.popup-message__text {
  margin: 0;
  font-size: min(2.5rem, 37px);
  color: #ffffff;

  @media (min-width: variables.$tablet) {
    font-size: clamp(35px, 3.5rem, 46px);
  }

  @media (min-width: variables.$desktop) {
    font-size: clamp(35px, 4.5rem, 60px);
  }
}
